<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conversion tool</title>
    {% load static %}
    <link href="{% static 'tool/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'tool/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'tool/css/bootstrap-datetimepicker.css' %}" rel="stylesheet">
    <link href="{% static 'tool/css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'tool/scss/style.css' %}" rel="stylesheet">
    <script src="{% static 'tool/js/jquery-3.2.0.js' %}"></script>
    <script src="{% static 'tool/js/highcharts.js' %}"></script>
    <script src="{% static 'tool/js/exporting.js' %}"></script>

  </head>
 <body>
     {% include 'tool/header.html' %}
  <div>
    <div class="container">
        {% block tool_content %}
        {% endblock %}
    </div>
  </div>
  <script src="{% static 'tool/js/moment.js' %}"></script>
  <script src="{% static 'tool/js/bootstrap.js' %}"></script>
  <script src="{% static 'tool/js/transition.js' %}"></script>
  <script src="{% static 'tool/js/collapse.js' %}"></script>
  <script src="{% static 'tool/js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'tool/js/filedrag.js' %}"></script>
  <script src="{% static 'tool/js/bootstrap-select.js' %}"></script>

</body>
</html>
