      <!-- <div class="row">
            <div style="width: 100%">
                <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                    <div class="au-card-title" style="background-image:url('../../../assets/images/bg-title-01.jpg');">
                        <div class="bg-overlay bg-overlay--blue"></div>
                    </div>
                    <div class="au-task js-list-load">
                        <div class="au-task-list js-scrollbar3" *ngIf="curentClient">

                            <div class="au-task__item">
                                <div class="au-task__item-inner">
                                    <h5 class="task"><a href="javascript:void(0)">Nom de l'utilisateur</a></h5>
                                    <span class="time">{{curentClient.first_name}} {{curentClient.last_name}}</span>
                                </div>
                            </div>                            
                            <div class="au-task__item">
                                <div class="au-task__item-inner">
                                    <h5 class="task"><a href="javascript:void(0)">Adresse email</a></h5>
                                    <span class="time">{{curentClient.email}}</span>
                                </div>
                            </div>                            
                            <div class="au-task__item">
                                <div class="au-task__item-inner">
                                    <h5 class="task"><a href="javascript:void(0)">Fonction</a></h5>
                                    <span class="time">
                                            <p *ngIf="curentClient.fonction == 1">Account Manager</p>
                                            <p *ngIf="curentClient.fonction == 2">Responsable Marchés</p>
                                            <p *ngIf="curentClient.fonction == 3">Directeur</p>
                                            <p *ngIf="curentClient.fonction == 4">CEO</p>
                                            <p *ngIf="curentClient.fonction == 5">Custom</p>
                                    </span>
                                </div>
                            </div>
      

                        </div>
                        <div class="au-task__footer">
                            <button *ngIf="curentClient"  data-toggle="modal" data-target="#editCurentUser" class="au-btn au-btn-load js-load-btn">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="curentClient">
            <app-edit-curent-user [curentU]="curentClient"></app-edit-curent-user>  
        </div> -->