<!DOCTYPE HTML><html><head><meta http-equiv='Content-Type' content='text/html;charset=UTF-8' /></head>
<body>
<table width='100%'>
  <tr>
    <td>
      <table cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <!-- <td width='160'><img src='{{ url }}/assets/images/logos/romande-energie.png' width='140'></td> -->
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table cellpadding='0' cellspacing='0' style='border:8px solid white; color:#333; font-size: 14px;'>
        <tr>
          {% if profile.sex == 'F' %}
            <td height='40'><p style='margin:0'>Madame {{ user.first_name }} {{ user.last_name }},</p></td>
          {% else %}
            <td height='40'><p style='margin:0'>Monsieur {{ user.first_name }} {{ user.last_name }},</p></td>
          {% endif %}
        </tr>
        <tr>
          <td height='40'>
            <p style='margin:0'>Un compte d'utilisateur vous a été créé, soit: </b>
            </p>
          </td>
        </tr>
        <tr>
          <td height='40'>
            <p style='margin:0'>nom d'utilisateur:
              <b>{{ user.username }}</b>
            </p>
          </td>
        </tr>
        <tr>
            <td height='40'>
              <p style='margin:0'>Pour accéder à votre compte, veuillez suivre ce lien et saisir votre mot de passe: 
              <a href="{{ url }}/password/{{ profile.temp }}">{{ url }}/password/{{ profile.temp }}</a>
              </p>
            </td>
        </tr>
        <!-- <tr>
          <td height='40'><p style='margin:0'>Romande Energie Commerce SA </p></td>
        </tr> -->
      </table>
    </td>
  </tr>
</table>
</body>
</html>
