{% extends 'tool/base.html' %}

{% block tool_content %}
<div class="container">
    <div class="" style="text-align: center;color: #000;font-size: 40px;fill: #000;">
        The uploaded files
    </div>
    <div class="" style="text-align: center;color: #f00;font-size: 20px;fill: #f00;">
        {% for file in files %}
            <p style="color: {{file.color}};" >{{file.file}}</p>
        {% endfor %}
    </div>
    <div class="" style="text-align: center;color: #f00;font-size: 20px;fill: #f00;">
        <a href="/report/upload/"><< Upload the report</a>
    </div>
    <br>
</div>

{% endblock %}
