
<div class="upload col-lg-6 col-sm-12 col-md-12 col-xs-12" style="padding-left: 0;flex: 1;height: 30rem;position: relative;display: inline-block;">
	<div id="div" class="upload-files" style="height: 100%;width: 100%;display: table;">
		<div class="body" id="drop" style="pointer-events: none;height: 100%;width: 100%;display: table-cell;vertical-align: middle;background: white;">
		
			<img style="width: 15%;" src="../../assets/images/uploadfile.png">
			<h4 class="up">
				<b>Glisser et Déposer des fichiers ici </b>
			</h4>
			<p class="up">Ou</p>
			<div  type="button" style="pointer-events: visible;position: relative;" id="triggerFile" class="btn btn-default load file-area2 col-md-6" aria-hidden="true" >
				<img style="width: 7%;margin-right: 1rem;" src="../../assets/images/pluscircleicon.png">
				Ajouter des fichiers                         
					<input type="file" 
						   style="visibility: visible;height: 100%;width: 100%;"
						   id="data_file"
						   required="required" 
						   name="file" 
						   (change)="fileEvent($event.target.files)"  
						   required
						 [attr.multiple]="inputers"
						   accept=".xlsx"/>
			</div>
	  <div class="file-dummy">
		<span class="success">Les fichiers ont été uploadés.</span>
		<span class="default">Sélection du fichier à charger</span>
	</div>
			<p *ngIf="(ecount=='upload-convert' && message== 'false') || (ecount=='upload-sum' && message== 'false') " class="load">
				Uploader
				<b>jusqu'à 20 fichiers .XLSX</b>
				de type CC 1/4h et les convertir en format horaire
			</p>
			<p *ngIf="(ecount=='upload-convert' && message== 'true') || (ecount=='upload-sum' && message== 'true') " class="load">
				Uploader
				<b>un seul fichier .XLSX</b>
				contenant plusieurs CC 1/4h
				et les convertir en format horaire + un rapport TOTAL  
			</p>
		</div>
	</div>
</div>
<form [formGroup]="uploadForm" class="from-group col-lg-6 col-sm-12 col-md-12 col-xs-12 uploadfiless" (ngSubmit)="onSubmit(uploadForm.value)" style="flex: 1;height: 30rem;position: absolute;display: inline-block;">
<div id="divstatiscs" *ngIf="fileValid" style="    background: #f6f7fb;left: 0;position: absolute;width: 100%;height: 100%;padding: 0rem !important;" class="file-dummy upload col-lg-12 col-sm-12 col-md-12 col-xs-12 h-100 uploadcontfile" type="submit" value="Upload" name="submit"  >
	<div class="upload-files p-2" style=" background: #f6f7fb;padding-top: 1rem;padding-left: 2.0rem !important;padding-right: 2.0rem !important; width: 100%;height: 100%;">
		<div class="header ">
			<h4 class="up text-left " style="float: left;margin-top: 10px;">
				<b>TÉLÉCHARGEMENT:</b>
			</h4>
			<p id="loadedfiles" class="load text-right " style="float: right;margin-top: 10px;">{{filescounter}} fichiers ajoutés</p>
		</div>
		<div class="body" id="drop" style="padding-bottom: 0;">
			<ul id="dropedfiles" class="dropul" style="border-top: 1px solid #d9dfe8;height: 21rem;overflow: auto !important;">
				<li  *ngFor='let items of selectedMarketsList;let y=index' class="filelist">
					<div style="width: 7rem;">
						<i  *ngIf="!uploaded" class="fa displaynone uploaded" style="color: #2ecc71;margin-right: 0;margin-right: 0;font-size: 2rem;"></i>
						<div *ngIf="uploaded" class="circle-border display noupload" style="width: 2rem; height: 2rem;margin-right: 0;"></div>
						<div>
							<img style="width: 4.5rem;" src="../../assets/images/excelicon.png">
						</div>
					</div>
					<div class="upldfiles" style="padding: 0;width: calc(100% - 8rem);">
						<div style="width: 100%;">
							<div style="display: inline-block;">
								<b style="display: block;" class="name">{{items.name}}</b>
								<p class="size" style="padding: 0;display: inline;">{{((items.size)/1024/1024) | number : '1.2-2' }} MB</p>
							</div>
							<div style="float: right;width: 5rem;">
								<div style="display: table;width: 100%;">
							<a  *ngIf="downloadfilesss" (click)='downloadsubmit(y)' style="cursor: pointer; display: table-cell;	vertical-align: middle;">
									<i  style="font-size: 2rem;margin:0" class="fa fa-download" aria-hidden="true"></i>
										</a>
							<a style="float: right; display: table-cell; vertical-align: middle;cursor: pointer;" (click)='removeSelMarket(y);'>
								<div style="float: right;">
									<i class="closed" style="margin-right: 1rem;font-size: 1.3rem;margin-left: 1.5rem;" class="fa">&#xf057;</i>
								</div>
							</a>
								</div>
							</div>
						</div>
						<div class="holder" style="width: 100%;">
							<div class="progress-wrap progress" style="margin: 0;border-radius: 0.6rem;height: 0.6rem;">
								<div [ngStyle]="{width: progressbar + '%'}" class="box progress-bar" style="margin: 0;height: 10px;"></div>
							</div>
						</div>
					</div>
				</li>
	  </ul>
		</div>
		<footer style="text-align: center; height: auto; float: left;">
			<span *ngIf="!uploaded && fileexist" ><button  *ngIf="!uploaded && fileexist && ecount=='upload-convert' && message== 'false'" style="pointer-events: none;"  class="btn btn-danger pull-center calculatorcheck" >
					<i class="fa fa-check" style="padding-right: 0.5rem;"></i>Succès</button>
					<a *ngIf="!uploaded && fileexist && ecount!='upload-convert' || !uploaded && fileexist && message== 'true' " (click)='downloadsubmitsite(this.obj2)' style="cursor: pointer;">
						<div style="display: inline-block;">
						  <img style="width: 4.5rem; "src="../../assets/images/excelicon.png">
						</div>
						<div style="display: inline-block;">
							<b  style="display: block;margin-left: 0.5rem;margin-right: 0.5rem;color: #0645bc" class="name">{{ this.obj2}}</b>
						  </div>
					  <div style="display: inline-block;" >
  
						<i  style="font-size: 2rem;margin:0" class="fa fa-download" aria-hidden="true"></i>
					  </div>
					</a>
				</span>
				<span *ngIf="loading">
							<img  class="pull-right" class="redload" style="width: 60px; height: 60px;" src="../../../assets/images/uploadfiles.gif">
					  </span>
				<span *ngIf="fileValid && !loading && uploaded " [class.active]="ecount=='upload-convert'" (click)="file = null; data_file = null" class="inactive">
					<button  type="submit" class="btn btn-danger pull-center calculatortype" >	<i class="fa fa-refresh convertplus" aria-hidden="true"></i> Convertir CC 1/4h en 1h</button>
				  </span>

				  <span *ngIf="fileValid && !loading && uploaded " [class.active]="ecount=='upload-sum'"  (click)="file = null; data_file = null" class="inactive">
						<button  type="submit" class="btn btn-danger pull-center calculatortype" >	<i class="fa fa-refresh convertplus" aria-hidden="true"></i> Convertir CC 1/4h en 1h et faire la somme</button>
					  </span>
					  <span *ngIf="fileValid && !loading && uploaded" [class.active]="ecount=='upload-diff'"  (click)="file = null; data_file = null" class="inactive">
							<button  type="submit" class="btn btn-danger pull-center calculatortype" >	<i class="fa fa-refresh convertplus" aria-hidden="true"></i> Convertir CC 1/4h en 1h et faire la difference (C)</button>
						  </span>
						  	  
						  <span *ngIf="fileValid && !loading && uploaded" [class.active]="ecount=='upload-translate'"  (click)="file = null; data_file = null" class="inactive">
								<button  type="submit" class="btn btn-danger pull-center calculatortype" >	<i class="fa fa-refresh convertplus" aria-hidden="true"></i>Convertir CC 1/4h en 1h + %</button>
							  </span>
	</footer>
	</div>
</div>

</form>



