<div *ngIf="token&&loading" class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="background: #ebeeef;margin-top: 50px;">
            <nav class="navbar text-center" role="navigation" style="background: #ebeeef;margin-bottom: 0;"> 
             </nav>
            <div class="login100-form-title" 
            style="background: #2c6bb4;
                  border-radius: 20px 20px 0px 0px;
                  padding-top: 10px;
                  padding-bottom: 45px;
                  height: 20px;">
                <span class="login100-form-title-1">
                   <div *ngIf="existTerm" style="font-size: 24">Définir mot de passe</div>
                   <div *ngIf="!existTerm" style="font-size: 24">Ce lien n'est plus valide.</div>
                   
                </span>
            </div>

                  <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Seaaaaaaaaand">
                      text
                    </button> -->
            <form *ngIf="existTerm" class="login100-form validate-form" style="background: white; padding-bottom: 40px;
                         border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;"
                         [formGroup]="passwordGroup" (ngSubmit)="onSubmit(passwordGroup.value)">
                <div class="wrap-input100 validate-input m-b-26"  style="position: relative; margin-left: 20px;">
                    <span class="label-input100 fs-20" style="white-space: nowrap; margin-left: -50px;" ><i class="fa fa-key" style="margin-right: 5px;"></i>  Mot de passe</span>
                    <input class="input100" 
                           type="password" 
                           formControlName="password"
                           placeholder="Mot de passe"
                           required>
                    <span class="focus-input100"></span>
                </div>
                <div [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched),'has-success': password.valid && (password.dirty || password.touched)}" 
                    *ngIf="password.errors && (password.dirty || password.touched)" style="position: absolute; margin-top: 45px; margin-left: 20px;">                               
                  <span *ngIf="password.errors.pattern" class="item" data-toggle="tooltip" data-placement="left" 
                  title="Veuillez saisir un mot de passe qui comporte un minimum de dix caractères, combinant des lettres majuscules et minuscules et au moins un chiffre.">
                        Le format est incorrect. <i class="fa fa-exclamation-circle pointer text-success"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" style="position: relative; margin-left: 20px;">
                    <span class="label-input100 fs-20" style="white-space: nowrap; margin-left: -50px;" ><i class="fa fa-key" style="margin-right: 5px;"></i>  Mot de passe</span>
                    <input  class="input100" 
                            formControlName="secndPass"
                            type="password" 
                            placeholder="Répéter le mot de passe"  
                            required>
                    <span class="focus-input100"></span>
                </div>                       
                  <div *ngIf="!coincid && (secndPass.dirty || secndPass.touched)" class="has-danger fs-16" 
                        style="color: #d9534f; margin-top: -18px; margin-left: 20px;">Les mots de passe que vous avez entrés ne sont pas identiques.</div>
          
                <div *ngIf="passwordGroup.valid&&coincid" class="container-login100-form-btn " style="margin-left: 20px; margin-top: 10px;">
                    <button class="login100-form-btn" type="submit">Sauvegarder</button>
                </div>
            </form>

            <!-- MOLdoca123 -->
            <div *ngIf="!existTerm" 
                    style="background: white;
                            border-bottom-right-radius: 20px;
                            border-bottom-left-radius: 20px;
                            text-align: center;
                            padding-top: 25px;
                            padding-bottom: 15px;">
            <i class="fa fa-exclamation-triangle" style="color: #ce0129; font-size: 200px;"></i>

           
        </div>
        </div>
    </div>
</div>


<!-- 
<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form"  name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                    <span class="login100-form-title" style="margin-bottom: 5rem">
                        <img class="img-responsive" src="../../../assets/images/logozeno.png" alt="zeno" style="margin: 0 auto;width: 14rem;"> 
                    </span>
                    
    
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span *ngIf="(trimis && username.invalid) || (error && password.valid)" data-validate="Nom d'utilisateu" class="alert-validate"></span>
         
                        <input class="input100" autocomplete="off" type="text" name="username"
                                [(ngModel)]="model.username" #username="ngModel" required>
                                <span class="focus-input100" data-placeholder="Nom d'utilisateu"></span>
                    </div>
    
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fas fs-eye"></i>
                        </span>
                        <span *ngIf="(trimis && username.invalid) || (error && password.valid)" data-validate="Saisir le mot de passe" class="alert-validate"></span>
                        <input class="input100" type="password" autocomplete="off" type="password"  name="password"
                        [(ngModel)]="model.password" #password="ngModel" required >
                        <span  class="focus-input100" data-placeholder="Saisir le mot de passe"></span>
                    </div>
    
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn"  [disabled]="loading" type="submit" (click)="trimis = true">
                                Login
                            </button>
                        </div>
                    </div>
    
                    <div class="text-center" style="padding-top: 2.5rem;">
                        <span class="txt1">
                            Don’t have an account?
                        </span>
                        <a class="txt2" href="javascript:void(0)">
                            Sign Up
                        </a>
                    </div>
                </form>
    
                <div *ngIf="try == 2" style="font-size: 13px;text-align: center;color: #2c6bb4;">
                    Il vous reste 2 tentatives.
                </div> 
                <div *ngIf="try == 1" style="font-size: 13px;text-align: center;color: #2c6bb4;">
                    Il vous reste 1 tentative.
                </div> 
    
                <div *ngIf="try == 0" style="font-size: 13px;text-align: center;color: #2c6bb4;">
                    Votre compte est temporairement bloqué pour des raisons de sécurité.
                </div>   
    
    
    
            </div>
        </div>
    </div>
    
    
    <div id="dropDownSelect1"></div> -->