{% extends 'tool/base.html' %}

{% block tool_content %}
<script type="text/javascript">
    function submit_form(){
        var node = document.getElementById('load')
        var visibility = node.style.visibility;
        node.style.visibility = visibility == "visible" ? 'hidden' : "visible"
    }
</script>
    <div class="row">
        <div class="col-md-2" style="font-size: 25px;padding-left: 31px;">
            Upload files
        </div>
        <div class="col-md-6">
            <a href="/files/"><button class="btn btn-info">All files >></button></a>
        </div>
    </div><br>
      <form action="{% url 'tool:upload' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {# {{ form.as_p }} #}
          <div class="form-group">
              <div class="form-group">
                    <div class="form-group">
                        {{ form.site.errors }}
                        <label for="{{ form.site.site }}">Site:</label>
                        {{ form.site }}
                    </div>
                    <div>
                        <label for="data_file">Files to upload:</label>
                        <div class="file-area">
                            {{ form.data_file.errors }}
                            <input type="file" name="data_file" id="data_file" multiple="multiple" required="required"/>
                            <div class="file-dummy">
                                <span class="success">Great, your files are selected.</span>
                                <span class="default">Please select some files.</span>
                            </div>
                        </div>
                    </div>
              </div>
              <p>Uploaded files: </p>
              <div id="messages">
              </div>
        </div>
        <div id="submitbutton">
            <button type="submit" onclick="submit_form()" class="save btn btn-primary">Upload</button>
            <span id="load" style="visibility: hidden; top: 0px; left: 0px; opacity: 1;">
                Loading ...
            </span>
        </div>

      </form>

{% endblock %}
