<div class="wrapall">    
  <div> 
      <nav class="navbar" role="navigation"> 
        <div style="margin-left:16%;">
          <h1 class="logo xs-text-center">
            <img  src="../../../assets/images/logoEMPLOGOBlue.png" alt="EMP" style="height: 50px;
                                                                                    margin-top: 20px;
                                                                                    margin-bottom: -10px;
                                                                                    margin-left: 10px;">
            <span class="logo-text" id="defaultClick">						
                <!-- <span class="text-danger">OFFRE EN LIGNE</span> 
                <br/>
                <span class="text-muted">EVOLUTION DU MARCHE</span> -->
              </span> 
          </h1>
        </div>
      </nav>
    </div>
  <div class="container" style="width: 80%;">
  <!-- <app-header-div></app-header-div> -->
  <!-- <app-news-div></app-news-div> -->
  <app-stats-div [id]="id"></app-stats-div>
  <app-market-prices></app-market-prices>
  <!-- <app-hedge-div></app-hedge-div> -->
  <!-- <app-scoring></app-scoring> -->
  <!-- <app-worldmap></app-worldmap> -->
  </div>
</div>
