
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 d-i m-b-5">
              <div *ngFor="let y of yearList">
                <button class="btn m-l-5" [ngClass]="{'btn-secondary': y === year, 'btn-outline-secondary': y !== year}" (click)="getRisq(y,market)">{{y}}</button>
              </div>
          </div>
            <!-- <div class="col-md-6 text-right" style="padding-right: 5px;">
              <button [ngStyle]="{'background-color': valute === 'CHF' ? 'orange' : '' }" class="btn btn-sm btn-danger">CHF</button>
            </div> -->

          <div *ngIf="chart" class="col-md-12">
            <app-risque-chart [data]="chart" [type]="1"></app-risque-chart>
          </div>
          <div *ngIf="!chart && loading" class="text-center">       
            <div class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <h3 *ngIf="chart" class="graph-title text-center m-t-25">Primes de risque</h3>
          <div class="table-responsive  m-t-5 m-b-30">
              <table class="table table-borderless table-data3" *ngIf="chart">
                  <thead>
                      <tr>
                        <th>&nbsp;</th>
                        <th class="text-center" *ngFor="let data of chart['pfcs']">{{data | date: 'dd/MM/yyyy' }}</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="firtsTh">Risque prix </th>
                      <td class="text-center" *ngFor="let data of chart['pfcs']; let i=index">
                        <span *ngFor="let rec of chart['records']['Risque prix']">  
                          <span *ngIf="data==rec[0]">{{rec[1] | number : '1.6' }}</span>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th class="firtsTh">Risque volume </th>
                      <td class="text-center" *ngFor="let data of chart['pfcs']; let i=index">
                        <span *ngFor="let rec of chart['records']['Risque volume']">  
                          <span *ngIf="data==rec[0]">{{rec[1] | number : '1.6' }}</span>
                        </span>
                      </td>
                    </tr>  
              
                  </tbody>
              </table>
          </div>
        </div> 
    <div *ngIf="!chart && !loading">Aucune donnée trouvée.</div>
  </div>
